sudo: required
services:
  - docker

before_install:
  - docker build -t iliassanati/docker_react -f Dockerfile.dev .

script:
  - docker run iliassanati/docker_react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: 'eu-north-1'
  app: 'docker-react'
  env: 'Docker-react-env'
  bucket_name: 'elasticbeanstalk:eu-north-1:846121648638'
  bucket_path: 'docker-react'
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: '$AWS_SECRET_KEY'
